<% cache(movie, expires_in: 24.hours) do %>
  <div class="movie left col s12 m6">
    <a href="<%= movie.movie_type.name == 'TV' ? tv_path(movie) : movie_path(movie) %>">
      <div class="card-panel grey lighten-5 z-depth-2">
        <div class="valign-wrapper">
          <div class="col s4">
            <% if !movie.image.blank? %>
              <img src="<%= movie.image %>" alt="" class="responsive-img">
            <% else %>
              <%= image_tag 'default_profile_picture.png', class: "responsive-img" %>
            <% end %>
          </div>
          <div class="col s8">
            <span class="black-text">
                <%= movie.name %>
            </span>
          </div>
        </div>
      </div>
    </a>
    <% if movie.bloopers.any? %>
      <blockquote>
        Bloopers:
      </blockquote>
      <div class="collection z-depth-2">
        <%= render partial: 'actors/blooper', collection: movie.bloopers %>
      </div>
    <% end %>
  </div>
<% end %>
