<% cache(cache_key_for_genres, expires_in: 24.hours) do %>
  <div class="row">
    <div class="col s12 m9">
      <div class="section">
        <h1>Genres</h1>
      </div>
      <div class="divider"></div>
      <%= render @genres %>
    </div>
  </div>
<% end %>