<div class="row">
  <div class="col s12 m10">
    <% cache(@genre, expires_in: 24.hours) do %>
      <div class="section">
        <h1><%= @genre.name %></h1>
      </div>
      <div class="divider"></div>
      <%= render partial: 'genres/movie', collection: @genre.movies %>
    <% end %>
  </div>
</div>