<div class="row" id="blooper">
  <%= form_for [:admin, @admin_blooper], :html => {:class => 'col s12'} do |f| %>
    <% if @admin_blooper.errors.any? %>
      <% @admin_blooper.errors.full_messages.each do |message| %>
        <script>
          Materialize.toast('<i class="material-icons">error_outline</i> &nbsp;&nbsp;&nbsp; <%= message %>', 4000, 'red darken-1');
        </script>
      <% end %>
    <% end %>

    <div class="row">
      <div class="input-field col s8">
        <%= f.text_field :video_link %>
        <%= f.label :video_link %>
      </div>
      <div class="col s4">
        <a id="show-video" class="waves-effect waves-light btn">Show</a>
      </div>
    </div>
    <div class="video-container blooper-video">
      <iframe id="blooper-video-iframe" width="853" height="480" src="" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.collection_select(:movie_id, Movie.all.order(created_at: :desc), :id, :name,  include_blank: 'Select movie') %>
        <%= f.label :movie %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name %>
        <%= f.label :name %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :description, class: 'materialize-textarea' %>
        <%= f.label :description %>
      </div>
    </div>
    <div class="row">
      <div class="switch">
        <label>
          Off
          <%= f.check_box :status %>
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>

    <button class="btn waves-effect waves-light btn-large green" type="submit" name="action">
      Submit
    </button>
  <% end %>
</div>