<div class="row">
  <div class="col s12 m12 l12">
    <div class="section">
      <h5>Listing Bloopers</h5>
    </div>
    <div class="divider"></div>

    <table class="hoverable centered responsive-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Movie</th>
        <th>Video</th>
        <th>Active</th>
        <th colspan="3">Options</th>
      </tr>
      </thead>

      <tbody>
      <% @admin_bloopers.each do |admin_blooper| %>
        <tr>
          <td><%= admin_blooper.id %></td>
          <td><%= admin_blooper.name %></td>
          <td><%= admin_blooper.movie.name %></td>
          <td><%= admin_blooper.status.to_s.capitalize %></td>
          <td><%= link_to 'View', [:admin, admin_blooper], class: 'waves-effect waves-light btn green' %></td>
          <td><%= link_to 'Edit', edit_admin_blooper_path(admin_blooper), class: 'waves-effect waves-light btn orange' %></td>
          <td><%= link_to 'Delete', [:admin, admin_blooper], method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <a class="btn-floating btn-large waves-effect waves-light purple darken-3" href="<%= new_admin_blooper_path %>"><i class="material-icons">add</i></a>
    <div class="col s12 m10 l10 right">
      <%= paginate @admin_bloopers %>
    </div>
  </div>
</div>