<div class="row">
  <div class="col s12 m7">
    <div class="video-container">
      <iframe width="853" height="480" src="//www.youtube.com/embed/<%= @admin_blooper.video_link %>?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
      <p>Name: <%= @admin_blooper.name %></p>
      <p>Active: <%= @admin_blooper.status %></p>
      <p>Description:</p>
      <p>
        <%= @admin_blooper.description %>
      </p>
    </div>
    <div>
      <%= link_to 'Edit', edit_admin_blooper_path(@admin_blooper) %>
      <%= link_to 'Back', admin_bloopers_path %>
    </div>
  </div>
  <div class="col s12 m5">
    <div>
      <blockquote>
        Movie:
      </blockquote>
      <div class="col s12 white">
        <a href="<%= admin_movie_path(@admin_blooper.movie) %>">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3">
                <% if !@admin_blooper.movie.image.blank? %>
                  <img src="<%= @admin_blooper.movie.image %>" alt="" class="responsive-img">
                <% else %>
                  <%= image_tag 'default_profile_picture.png', class: "responsive-img" %>
                <% end %>
              </div>
              <div class="col s9">
                <span class="black-text">
                    <%= @admin_blooper.movie.name %>
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div>
      <% if @admin_blooper.movie.genres.any? %>
      <blockquote>
        Genres:
      </blockquote>
      <div class="collection">
        <% @admin_blooper.movie.genres.each do |genre| %>
          <a href="<%= admin_genre_path(genre) %>" class="collection-item"><%= genre.name %></a>
        <% end %>
      </div>
    <% end %>
    </div>

    <div>
      <% if @admin_blooper.movie.actors.any? %>
      <blockquote>
        Actors:
      </blockquote>
      <% @admin_blooper.movie.actors.each do |actor| %>
        <div class="col s12">
          <a href="<%= admin_actor_path(actor) %>">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s3">
                  <% if !actor.image.blank? %>
                    <img src="<%= actor.image %>" alt="" class="circle responsive-img">
                  <% else %>
                    <%= image_tag 'default_profile_picture.png', class: "circle responsive-img" %>
                  <% end %>
                </div>
                <div class="col s9">
                <span class="black-text">
                    <%= actor.name %>
                </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
