<% cache(actor, expires_in: 1.hours) do %>
  <div class="col s12 m4 left">
    <div class="card z-depth-5 hoverable">
      <div class="card-image">
        <% if !actor.image.nil? %>
          <img src="<%= actor.image %>" class="responsive-img">
        <% end %>
        <span class="card-title"><%= actor.name %></span>
      </div>
      <div class="card-content">
        <p><%= truncate actor.description, length: 150 %></p>
      </div>
      <div class="card-action">
        <div class="row social">
          <div class="col s12 m3">
            <p><%= link_to 'More', actor %></p>
          </div>
          <div class="col s12 m9">
            <%= render 'shared/social_buttons', link: actor_url(actor) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>