<div class="col s12 white">
  <a href="<%= movie.movie_type.name == 'TV' ? tv_path(movie) : movie_path(movie) %>">
    <div class="card-panel grey lighten-5 z-depth-2">
      <div class="valign-wrapper">
        <div class="col s4">
          <% if !movie.image.blank? %>
            <img src="<%= movie.image %>" alt="" class="responsive-img">
          <% else %>
            <%= image_tag 'default_profile_picture.png', class: 'responsive-img' %>
          <% end %>
        </div>
        <div class="col s8">
          <span class="black-text">
              <%= movie.name %>
          </span>
        </div>
      </div>
    </div>
  </a>
  <blockquote>
    Bloopers:
  </blockquote>
  <div class="collection z-depth-2">
    <%= render partial: 'actors/blooper', collection: movie.bloopers %>
  </div>
</div>
