<% cache(cache_key_for_actors, expires_in: 1.hours) do %>
<div id="actors" class="row">
  <div class="col s12">
    <%= render @actors %>
    <div class="col s12 margin-top-20">
      <%= paginate @actors, theme: 'reverse' %>
    </div>
  </div>
</div>
<% end %>