<div class="row">
  <div class="col s12 m8">
    <% cache(@actor, expires_in: 1.hours) do %>
      <div class="section">
        <h1><%= title @actor.name %></h1>
      </div>
      <div class="divider"></div>
      <div class="card z-depth-3">
        <div class="card-image">
          <img src="<%= @actor.image %>" alt="" class="circle responsive-img">
          <span class="card-title"><%= @actor.name %></span>
        </div>
        <div class="card-content">
          <%= @actor.description %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col s12 m4">
        <blockquote>
          Comments:
        </blockquote>
      </div>
      <div class="col s12 m8">
        <div class="valign-wrapper height-50">
          <%= render 'shared/social_buttons' %>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render 'shared/comments' %>
    </div>
  </div>
  <div class="col s12 m4">
    <% cache("actor-movies-#{@actor.id}", expires_in: 12.hours) do %>
      <% if @actor.movies.any? %>
        <div class="row">
          <blockquote>
            Movies or TV:
          </blockquote>
          <%= render partial: 'actors/movie', collection: @actor.movies %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>