<% cache(movie, expires_in: 1.hours) do %>
  <div class="col s12 m4 left">
    <div class="card z-depth-5 hoverable">
      <div class="card-image">
        <% if !movie.image.nil? %>
          <img src="<%= movie.image %>" class="responsive-img">
        <% end %>
        <span class="card-title"><%= movie.name %></span>
      </div>
      <div class="card-content">
        <p><%= truncate movie.description, length: 80 %></p>
      </div>
      <div class="card-action">
        <div class="row social">
          <div class="col s12 m3">
            <p><%= link_to 'More', (type == :tv ? tv_path(movie) : movie) %></p>
          </div>
          <div class="col s12 m9">
            <% if type == :tv %>
              <%= render 'shared/social_buttons', link: tvs_url(movie) %>
            <% else %>
              <%= render 'shared/social_buttons', link: movie_url(movie) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>