<% cache(cache_key_for_movies, expires_in: 1.hours) do %>
  <div id="movies" class="row">
    <div class="col s12">
      <%= render @movies, type: :movie %>
      <div class="col s12 margin-top-20">
        <%= paginate @movies, theme: 'reverse' %>
      </div>
    </div>
  </div>
<% end %>