<div class="row">
  <div class="col s12 m8">
    <% cache(@movie, expires_in: 1.hours) do %>
    <div class="section">
      <h1><%= title @movie.name %></h1>
    </div>
    <div class="divider"></div>
    <div class="card z-depth-3">
      <div class="card-image">
        <img src="<%= @movie.image %>" alt="" class="circle responsive-img">
        <span class="card-title"><%= @movie.name %></span>
      </div>
      <div class="card-content">
        <%= @movie.description %>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col s12 m4">
        <blockquote>
          Comments:
        </blockquote>
      </div>
      <div class="col s12 m8">
        <div class="valign-wrapper height-50">
          <%= render 'shared/social_buttons' %>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render 'shared/comments' %>
    </div>
  </div>
  <div class="col s12 m4">
    <% cache("movie-bloopers-#{@movie.id}", expires_in: 1.hours) do %>
      <% if @movie.bloopers.any? %>
        <blockquote>
          Bloopers:
        </blockquote>
        <div class="collection z-depth-2">
          <%= render partial: 'actors/blooper', collection: @movie.bloopers %>
        </div>
      <% end %>
    <% end %>
    <% cache("movie-genres-#{@movie.id}", expires_in: 24.hours) do %>
     <% if @movie.genres.any? %>
        <blockquote>
          Genres:
        </blockquote>
        <div class="collection z-depth-2">
          <%= render partial: 'bloopers/genre', collection: @movie.genres %>
        </div>
      <% end %>
    <% end %>
    <% cache("movie-actors-#{@movie.id}", expires_in: 24.hours) do %>
      <% if @movie.actors.any? %>
        <blockquote>
          Actors:
        </blockquote>
        <%= render partial: 'bloopers/actor', collection: @movie.actors %>
      <% end %>
    <% end %>
  </div>
</div>