<% cache(cache_key_for_tvs, expires_in: 1.hours) do %>
  <div id="tvs" class="row">
    <div class="col s12">
      <%= render partial: 'movies/movie', collection: @movies, locals: {type: :tv} %>
      <div class="col s12 margin-top-20">
        <%= paginate @movies, theme: 'reverse' %>
      </div>
    </div>
  </div>
<% end %>