<div class="row">
  <div class="col s12">
    <div class="section">
      <h5>Country</h5>
    </div>
    <div class="divider"></div>
    <%= geo_chart Visit.group(:country).count %>

    <div class="section">
      <h5>OS</h5>
    </div>
    <div class="divider"></div>
    <%= pie_chart Visit.group(:os).count %>

    <div class="section">
      <h5>Browser</h5>
    </div>
    <div class="divider"></div>
    <%= pie_chart Visit.group(:browser).count %>

    <div class="section">
      <h5>Device type</h5>
    </div>
    <div class="divider"></div>
    <%= pie_chart Visit.group(:device_type).count %>

    <div class="section">
      <h5>Listing Visits</h5>
    </div>
    <div class="divider"></div>

    <table class="hoverable centered responsive-table">
      <thead>
      <tr>
        <th>IP</th>
        <th>Browser</th>
        <th>OS</th>
        <th>Country</th>
        <th>Stated at</th>
        <th>Options</th>
      </tr>
      </thead>

      <tbody>
      <% @admin_visits.each do |visit| %>
        <tr>
          <td><%= visit.ip %></td>
          <td><%= visit.browser %></td>
          <td><%= visit.os %></td>
          <td><%= visit.country %></td>
          <td><%= visit.started_at %></td>
          <td><%= link_to 'View', [:admin, visit], class: 'waves-effect waves-light btn green' %></td>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <div class="col s12 m8 l8 right">
      <%= paginate @admin_visits %>
    </div>
  </div>
</div>
