<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="#test1">Visit</a></li>
          <li class="tab col s6 <%= @admin_visit.ahoy_events.any? ? '' : 'disabled' %>"><a href="#test2">Events</a></li>
        </ul>
      </div>
      <div id="test1" class="col s12">
        <table class="hoverable responsive-table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Id</td>
            <td><%= @admin_visit.id %></td>
          </tr>
          <tr>
            <td>Visitor id</td>
            <td><%= @admin_visit.visitor_id %></td>
          </tr>
          <tr>
            <td>IP</td>
            <td><%= @admin_visit.ip %></td>
          </tr>
          <tr>
            <td>User agent</td>
            <td><%= @admin_visit.user_agent %></td>
          </tr>
          <tr>
            <td>Referrer</td>
            <td style="max-width: 500px;word-wrap: break-word;"><%= @admin_visit.referrer %></td>
          </tr>
          <tr>
            <td>Landing page</td>
            <td><%= @admin_visit.landing_page %></td>
          </tr>
          <tr>
            <td>User id</td>
            <td><%= @admin_visit.user_id %></td>
          </tr>
          <tr>
            <td>Reffering domain</td>
            <td><%= @admin_visit.referring_domain %></td>
          </tr>
          <tr>
            <td>Search keyword</td>
            <td><%= @admin_visit.search_keyword %></td>
          </tr>
          <tr>
            <td>browser</td>
            <td><%= @admin_visit.browser %></td>
          </tr>
          <tr>
            <td>OS</td>
            <td><%= @admin_visit.os %></td>
          </tr>
          <tr>
            <td>Device type</td>
            <td><%= @admin_visit.device_type %></td>
          </tr>
          <tr>
            <td>Screen width</td>
            <td><%= @admin_visit.screen_width %></td>
          </tr>
          <tr>
            <td>Screen height</td>
            <td><%= @admin_visit.screen_height %></td>
          </tr>
          <tr>
            <td>Country</td>
            <td><%= @admin_visit.country %></td>
          </tr>
          <tr>
            <td>Region</td>
            <td><%= @admin_visit.region %></td>
          </tr>
          <tr>
            <td>City</td>
            <td><%= @admin_visit.city %></td>
          </tr>
          <tr>
            <td>Postal code</td>
            <td><%= @admin_visit.postal_code %></td>
          </tr>
          <tr>
            <td>Latitude</td>
            <td><%= @admin_visit.latitude %></td>
          </tr>
          <tr>
            <td>Longitude</td>
            <td><%= @admin_visit.longitude %></td>
          </tr>
          <tr>
            <td>Utm soruce</td>
            <td><%= @admin_visit.utm_source %></td>
          </tr>
          <tr>
            <td>Utm medium</td>
            <td><%= @admin_visit.utm_medium %></td>
          </tr>
          <tr>
            <td>Utm term</td>
            <td><%= @admin_visit.utm_term %></td>
          </tr>
          <tr>
            <td>Utm content</td>
            <td><%= @admin_visit.utm_content %></td>
          </tr>
          <tr>
            <td>Utm campaign</td>
            <td><%= @admin_visit.utm_campaign %></td>
          </tr>
          <tr>
            <td>Started at</td>
            <td><%= @admin_visit.started_at %></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="test2" class="col s12">
        <% if @admin_visit.ahoy_events.any? %>
          <table class="hoverable responsive-table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Properties</th>
              <th>Time</th>
            </tr>
            </thead>
            <tbody>
              <% @admin_visit.ahoy_events.each do |event| %>
                <tr>
                  <td><%= event.name %></td>
                  <td><%= event.properties['title'] %></td>
                  <td><%= event.time %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
    <%= link_to 'Back', admin_visits_path %>
  </div>
</div>