<footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bloopers</h5>
        <p class="grey-text text-lighten-4">Best bloopers!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="<%= pages_about_path %>">About</a></li>
          <li><a class="grey-text text-lighten-3" href="<%= pages_contact_path %>">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © <%= Time.current.year %> Bloopers
      <a class="grey-text text-lighten-4 right" target="_blank" href="http://4code.pl">4Code</a>
    </div>
  </div>
</footer>