<nav class="amber darken-3">
  <div class="nav-wrapper">
    <%= link_to(image_tag('movie-clapper-board-64-130297.png', alt: "Bloopers", title: "Bloopers") + raw('<span id="logo-text">Bloopers</span>'), root_path, class: 'brand-logo') %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <%= render 'shared/menu_links' %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <%= render 'shared/menu_links' %>
    </ul>
  </div>
</nav>

<script>
  $(".button-collapse").sideNav();
</script>