<li class="search hide-on-med-and-down">
  <form>
    <div class="input-field">
      <input id="search" type="search" required autocomplete="off">
      <label for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
    <div id="results" class="z-depth-5">
      <div id="search-preloader" class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <div id="results-data"></div>
    </div>
  </form>
</li>
<%= active_link_to 'Bloopers', bloopers_path, :wrap_tag => :li %>
<%= active_link_to 'Actors', actors_path, :wrap_tag => :li %>
<%= active_link_to 'Movies', movies_path, :wrap_tag => :li %>
<%= active_link_to 'TV', tvs_path, :wrap_tag => :li %>
<%= active_link_to 'Genres', genres_path, :wrap_tag => :li %>