<div class="row">
  <div class="col s12 m8 l8">
    <div class="section">
      <h5>Listing Genres</h5>
    </div>
    <div class="divider"></div>

    <table class="hoverable centered responsive-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>IMDB ID</th>
        <th>Active</th>
        <th colspan="3">Options</th>
      </tr>
      </thead>

      <tbody>
      <% @admin_genres.each do |admin_genre| %>
        <tr>
          <td><%= admin_genre.id %></td>
          <td><%= admin_genre.name %></td>
          <td><%= admin_genre.imdb_id %></td>
          <td><%= admin_genre.status.to_s.capitalize %></td>
          <td><%= link_to 'View', [:admin, admin_genre], class: 'waves-effect waves-light btn green' %></td>
          <td><%= link_to 'Edit', edit_admin_genre_path(admin_genre), class: 'waves-effect waves-light btn orange' %></td>
          <td><%= link_to 'Delete', [:admin, admin_genre], method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <a class="btn-floating btn-large waves-effect waves-light purple darken-3" href="<%= new_admin_genre_path %>"><i class="material-icons">add</i></a>
    <a class="btn-floating btn-large waves-effect waves-light red darken-3" href="<%= admin_tmdb_import_genres_path %>"><i class="material-icons">import_export</i></a>
    <div class="col s12 m8 l8 right">
      <%= paginate @admin_genres %>
    </div>
  </div>
</div>
