<p class="flow-text">Name: <%= @admin_genre.name %></p>
<p class="flow-text">Imdb id: <%= @admin_genre.imdb_id %></p>
<p class="flow-text">Active: <%= @admin_genre.status %></p>

<% if @admin_genre.movies.any? %>
  <p class="flow-text">Movies:</p>
  <% @admin_genre.movies.each do |movie| %>
    <p class="flow-text"><%= movie.name %></p>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_admin_genre_path(@admin_genre) %> |
<%= link_to 'Back', admin_genres_path %>