<div id="actors" class="row">
  <div class="col s12 m6">
    <%= form_for [:admin, @admin_actor] do |f| %>
      <% if @admin_actor.errors.any? %>
        <% @admin_actor.errors.full_messages.each do |message| %>
          <script>
            Materialize.toast('<i class="material-icons">error_outline</i> &nbsp;&nbsp;&nbsp; <%= message %>', 4000, 'red darken-1');
          </script>
        <% end %>
      <% end %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :name %>
          <%= f.label :name %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :image %>
          <%= f.label :image %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :tmdb_id %>
          <%= f.label :tmdb_id %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, class: 'materialize-textarea' %>
          <%= f.label :description %>
        </div>
      </div>
      <div class="row">
        <div class="switch">
          <label>
            Off
            <%= f.check_box :status %>
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>

      <button class="btn waves-effect waves-light btn-large green" type="submit" name="action">
        Submit
      </button>
    <% end %>
  </div>
  <div class="col s12 m6">
    <h6>Search</h6>

    <div class="row">
      <a id="btn-search" class="waves-effect waves-light btn right">Search</a>

      <div class="input-field col s8 right">
        <i class="material-icons prefix">account_circle</i>
        <input id="search" type="text" class="validate">
        <label for="search">Actor Name</label>
      </div>
    </div>
    <div id="results" ></div>

    <div id="spinner" class="col s12 center">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
