<div class="row">
  <div class="col s12 m10 l10">
    <div class="section">
      <h5>Listing Actors</h5>
    </div>
    <div class="divider"></div>

    <table class="hoverable centered responsive-table">
      <thead>
      <tr>
        <th>#</th>
        <th width="10%">Image</th>
        <th>Name</th>
        <th>TMDB ID</th>
        <th>Active</th>
        <th colspan="3">Options</th>
      </tr>
      </thead>

      <tbody>
      <% @admin_actors.each do |admin_actors| %>
        <tr>
          <td><%= admin_actors.id %></td>
          <td><% if !admin_actors.image.blank? %>
              <img src="<%= admin_actors.image %>" alt="" class="circle responsive-img">
            <% end %>
          </td>
          <td><%= admin_actors.name %></td>
          <td><%= admin_actors.tmdb_id %></td>
          <td><%= admin_actors.status.to_s.capitalize %></td>
          <td><%= link_to 'View', [:admin, admin_actors], class: 'waves-effect waves-light btn green' %></td>
          <td><%= link_to 'Edit', edit_admin_actor_path(admin_actors), class: 'waves-effect waves-light btn orange' %></td>
          <td><%= link_to 'Delete', [:admin, admin_actors], method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <a class="btn-floating btn-large waves-effect waves-light purple darken-3" href="<%= new_admin_actor_path %>"><i class="material-icons">add</i></a>
    <div class="col s12 m10 l10 right">
      <%= paginate @admin_actors %>
    </div>
  </div>
</div>
