<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="<%= @admin_actor.image %>" alt="" class="circle responsive-img">
        <span class="card-title"><%= @admin_actor.name %></span>
      </div>
      <div class="card-content">
        <p>Tmdb_id: <%= @admin_actor.tmdb_id %></p>
        <p>Active: <%= @admin_actor.status %></p>
        <p>Description:</p>
        <p>
          <%= @admin_actor.description %>
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Edit', edit_admin_actor_path(@admin_actor) %>
        <%= link_to 'Back', admin_actors_path %>
      </div>
    </div>
  </div>
  <div class="col s12 m5">
    <p>
      <% if @admin_actor.movies.any? %>
        <blockquote>
          Movies:
        </blockquote>
        <% @admin_actor.movies.each do |movie| %>
        <div class="col s12 white">
          <a href="<%= admin_movie_path(movie) %>">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s3">
                  <% if !movie.image.blank? %>
                    <img src="<%= movie.image %>" alt="" class="responsive-img">
                  <% else %>
                    <%= image_tag 'default_profile_picture.png', class: "responsive-img" %>
                  <% end %>
                </div>
                <div class="col s9">
                  <span class="black-text">
                      <%= movie.name %>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
    </p>
    <p>
      <% if @admin_actor.movies.any? %>
      <blockquote>
        Bloopers:
      </blockquote>
      <div class="collection">
        <% @admin_actor.movies.each do |movie| %>
          <% movie.bloopers.each do |blooper| %>
            <a href="<%= admin_blooper_path(blooper) %>" class="collection-item"><%= blooper.name %></a>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </p>
  </div>
</div>