// Place all the styles related to the actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (min-width: 600px) {
  #actors .card {
    height: 600px;
  }
}

@media only screen and (min-width: 1000px) {
  #actors .card {
    height: 640px;
  }
}