// Place all the styles related to the bloopers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.section h1 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

div.row.social {
  margin-bottom: 0px;
}

.height-50 {
  height: 50px;
}