// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-genre {
  margin: 2%;
  width: 190px;

  a{
    width: 190px;
  }
}