// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (min-width: 600px) {
  #movies .card {
    height: 550px;
  }
}

@media only screen and (min-width: 1000px) {
  #movies .card {
    height: 600px;
  }
}