// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search #results {
  z-index: 999;
  display: none;
  position: absolute;
  top: 64px;
  width: 248px;
  background-color: #fff;

  #results-data {
    color: #000;
  }

  #search-preloader {
    display: none;
    margin-left: 100px;
  }

  .search-card {
    a {
      padding: 0px;
      margin: 0px;
      color: #000;
    }

    img {
      float: left;
    }

    span {
      float: left;
      width: 198px;
      padding-left: 20px;
      padding-top: 5px;
      height: 76px;

      &:hover {
        background-color: #ffab40;
      }
    }
  }
}