<div class="row">
<%= form_for [:admin, @admin_movie_type], :html => {:class => 'col s12'} do |f| %>

    <% if @admin_movie_type.errors.any? %>
      <% @admin_movie_type.errors.full_messages.each do |message| %>
        <script>
          Materialize.toast('<i class="material-icons">error_outline</i> &nbsp;&nbsp;&nbsp; <%= message %>', 4000, 'red darken-1');
        </script>
      <% end %>
  <% end %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :name %>
      <%= f.label :name %>
    </div>
  </div>
  <div class="row">
    <div class="switch">
      <label>
        Off
        <%= f.check_box :status %>
        <span class="lever"></span>
        On
      </label>
    </div>
  </div>
  <button class="btn waves-effect waves-light btn-large green" type="submit" name="action">
    Submit
  </button>
<% end %>
</div>