<div class="row">
  <div class="col s12 m8 l8">
    <div class="section">
      <h5>Listing Movie Types</h5>
    </div>
    <div class="divider"></div>

    <table class="hoverable centered responsive-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Active</th>
        <th colspan="3">Options</th>
      </tr>
      </thead>

      <tbody>
      <% @admin_movie_types.each do |admin_movie_type| %>
        <tr>
          <td><%= admin_movie_type.id %></td>
          <td><%= admin_movie_type.name %></td>
          <td><%= admin_movie_type.status.to_s.capitalize %></td>
          <td><%= link_to 'View', [:admin, admin_movie_type], class: 'waves-effect waves-light btn green' %></td>
          <td><%= link_to 'Edit', edit_admin_movie_type_path(admin_movie_type), class: 'waves-effect waves-light btn orange' %></td>
          <td><%= link_to 'Delete', [:admin, admin_movie_type], method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <a class="btn-floating btn-large waves-effect waves-light purple darken-3" href="<%= new_admin_movie_type_path %>"><i class="material-icons">add</i></a>
  </div>
</div>
