<p class="flow-text">Name: <%= @admin_movie_type.name %></p>
<p class="flow-text">Active: <%= @admin_movie_type.status %></p>

<%= link_to 'Edit', edit_admin_movie_type_path(@admin_movie_type) %> |
<%= link_to 'Back', admin_movie_types_path %>
