<div id="movies" class="row">
  <div class="col s12 m6">
    <%= form_for [:admin, @admin_movie] do |f| %>
      <% if @admin_movie.errors.any? %>
        <% @admin_movie.errors.full_messages.each do |message| %>
          <script>
            Materialize.toast('<i class="material-icons">error_outline</i> &nbsp;&nbsp;&nbsp; <%= message %>', 4000, 'red darken-1');
          </script>
        <% end %>
      <% end %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.collection_select(:movie_type_id, MovieType.all, :id, :name) %>
          <%= f.label :movie_type %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :name %>
          <%= f.label :name %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :image %>
          <%= f.label :image %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :tmdb_id %>
          <%= f.label :tmdb_id %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :imdb_id %>
          <%= f.label :imdb_id %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, class: 'materialize-textarea' %>
          <%= f.label :description %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :release_date, class: 'datepicker' %>
          <%= f.label :release_date %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :vote_average %>
          <%= f.label :vote_average %>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <blockquote>
            Actors:
          </blockquote>
          <div class="row actors">
            <div class="col s12" id="actors-list">
              <%= f.collection_check_boxes(:actor_ids, Actor.order(:name), :id, :name) %>
            </div>
          </div>
        </div>

        <div class="col s6">
          <blockquote>
            Genres:
          </blockquote>
          <div class="row genres actors">
            <div class="col s12">
              <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="switch">
          <label>
            Off
            <%= f.check_box :status %>
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>

      <button class="btn waves-effect waves-light btn-large green" type="submit" name="action">
        Submit
      </button>
    <% end %>
  </div>
  <div class="col s12 m6">
    <h6>Search</h6>

    <div class="row">
      <a id="btn-search" class="waves-effect waves-light btn right">Search</a>

      <div class="input-field col s8 right">
        <i class="material-icons prefix">movie</i>
        <input id="search" type="text" class="validate">
        <label for="search">Movie or TV Name</label>
      </div>
    </div>

    <div class="row" id="result-tabs">
      <div class="col s10 right">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#movies-tab">Movies</a></li>
          <li class="tab col s3"><a href="#tv-tab">TV</a></li>
        </ul>
      </div>
      <div id="movies-tab" class="col s12">
        <div class="results" ></div>
      </div>
      <div id="tv-tab" class="col s12">
        <div class="results" ></div>
      </div>
    </div>

    <div class="row" id="movie-details">
      <div class="col s12 m10 right">
        <div class="card">
          <div class="card-image">
            <img src="" alt="image" id="movie-details-image">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p></p>
          </div>
          <div class="card-action">
            <a href="#" id="copy-data">Copy data</a>
          </div>
        </div>
        <blockquote>
          Actors:
        </blockquote>
        <div class="results" ></div>
      </div>
    </div>

    <div id="spinner" class="col s12 center">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
