<div class="row">
  <div class="col s12 m10 l10">
    <div class="section">
      <h5>Listing Movies</h5>
    </div>
    <div class="divider"></div>

    <table class="hoverable centered responsive-table">
      <thead>
      <tr>
        <th>#</th>
        <th width="10%">Image</th>
        <th>Name</th>
        <th>Type</th>
        <th>Active</th>
        <th colspan="3">Options</th>
      </tr>
      </thead>

      <tbody>
      <% @admin_movies.each do |admin_movie| %>
        <tr>
          <td><%= admin_movie.id %></td>
          <td><% if !admin_movie.image.blank? %>
              <img src="<%= admin_movie.image %>" alt="" class="responsive-img">
            <% end %>
          </td>
          <td><%= admin_movie.name %></td>
          <td><%= admin_movie.movie_type.name %></td>
          <td><%= admin_movie.status.to_s.capitalize %></td>
          <td><%= link_to 'View', [:admin, admin_movie], class: 'waves-effect waves-light btn green' %></td>
          <td><%= link_to 'Edit', edit_admin_movie_path(admin_movie), class: 'waves-effect waves-light btn orange' %></td>
          <td><%= link_to 'Delete', [:admin, admin_movie], method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <a class="btn-floating btn-large waves-effect waves-light purple darken-3" href="<%= new_admin_movie_path %>"><i class="material-icons">add</i></a>
    <div class="col s12 m10 l10 right">
      <%= paginate @admin_movies %>
    </div>
  </div>
</div>