<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="<%= @admin_movie.image %>" alt="" class="circle responsive-img">
        <span class="card-title"><%= @admin_movie.name %></span>
      </div>
      <div class="card-content">
        <p>Tmdb_id: <%= @admin_movie.tmdb_id %></p>

        <p>Imdb_id: <%= @admin_movie.imdb_id %></p>

        <p>Active: <%= @admin_movie.status %></p>

        <p>Relases date: <%= @admin_movie.release_date %></p>

        <p>Vote average: <%= @admin_movie.vote_average %></p>

        <p>Description:</p>

        <p>
          <%= @admin_movie.description %>
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Edit', edit_admin_movie_path(@admin_movie) %>
        <%= link_to 'Back', admin_movies_path %>
      </div>
    </div>
  </div>
  <div class="col s12 m5">
    <p>
      <% if @admin_movie.genres.any? %>
      <blockquote>
        Genres:
      </blockquote>
      <div class="collection">
        <% @admin_movie.genres.each do |genre| %>
          <a href="<%= admin_genre_path(genre) %>" class="collection-item"><%= genre.name %></a>
        <% end %>
      </div>
    <% end %>
    </p>
    <p>
      <% if @admin_movie.actors.any? %>
      <blockquote>
        Actors:
      </blockquote>
      <% @admin_movie.actors.each do |actor| %>
        <div class="col s12 white">
          <a href="<%= admin_actor_path(actor) %>">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s3">
                  <% if !actor.image.blank? %>
                    <img src="<%= actor.image %>" alt="" class="circle responsive-img">
                  <% else %>
                    <%= image_tag 'default_profile_picture.png', class: "circle responsive-img" %>
                  <% end %>
                </div>
                <div class="col s9">
                <span class="black-text">
                    <%= actor.name %>
                </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
    </p>
    <p>
      <% if @admin_movie.bloopers.any? %>
      <blockquote>
        Bloopers:
      </blockquote>
      <div class="collection">
        <% @admin_movie.bloopers.each do |blooper| %>
          <a href="<%= admin_blooper_path(blooper) %>" class="collection-item"><%= blooper.name %></a>
        <% end %>
      </div>
    <% end %>
    </p>
  </div>
</div>