<div class="row">
  <div class="col s12 m8">
    <div class="section">
      <h5>About</h5>
    </div>
    <div class="divider"></div>
    <p class="flow-text">
      A blooper, also known as an outtake or gag reel, is a short sequence of a film or video production, usually a deleted scene, containing a mistake made by a member of the cast or crew. It also refers to an error made during a live radio or TV broadcast or news report, usually in terms of misspoken words or technical errors. The term blooper was popularized in the 1950s in a series of record albums entitled Pardon My Blooper, in which the definition of a blooper is thus given by the record series' narrator: "Unintended indiscretions before microphone and camera."
    </p>
    <p class="flow-text">
      Bloopers are often the subject of television shows or are occasionally revealed during the credit sequence at the end of movies (Jackie Chan and Burt Reynolds are both famous for including such reels with the closing credits of their movies). Humorous mistakes made by athletes are often referred to as bloopers as well, particularly in baseball. Prominent examples of films with bloopers include: Cheaper By the Dozen and Rush Hour.
    </p>
    <p class="flow-text">
      In recent years, many CGI-animated films have also incorporated gag reels, including a mix of faked bloopers, genuine voice-actor mistakes set to animation, and technical errors. Examples can be found in A Bug's Life, Toy Story 2, Monsters, Inc., Valiant, and several Barbie films.
    </p>
    <p class="right">By Wikipedia</p>
  </div>
  <div class="col s12 m4">
    <div class="row">

    </div>
  </div>
</div>


