<div class="row">
  <div class="col s12 m8">
    <div class="section">
      <h5>Contact</h5>
    </div>
    <div class="divider"></div>
    <p class="flow-text">
      Have some questions?
    </p>
    <p class="flow-text">
      Write to us:
      <span id="info"></span>
    </p>
    <p class="flow-text">&nbsp;</p>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <%= image_tag '4 Code.png' %>
      </div>
      <div class="card-content">
        <p>Created by</p>
      </div>
      <div class="card-action">
        <a href="https://4code.pl">4 Code</a>
      </div>
    </div>
  </div>
</div>


