<div id="admin" class="row">
  <div class="col s12 m6">
    <%= form_for [:admin, @admin_admin] do |f| %>
      <% if @admin_admin.errors.any? %>
        <% @admin_admin.errors.full_messages.each do |message| %>
          <script>
            Materialize.toast('<i class="material-icons">error_outline</i> &nbsp;&nbsp;&nbsp; <%= message %>', 4000, 'red darken-1');
          </script>
        <% end %>
      <% end %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :email %>
          <%= f.label :email %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password %>
          <%= f.label :password %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password_confirmation %>
          <%= f.label :password_confirmation %>
        </div>
      </div>

    <button class="btn waves-effect waves-light btn-large green" type="submit" name="action">
      Submit
    </button>
    <% end %>
    </div>
</div>