<div class="row">
  <div class="col s12 m10 l10">
    <div class="section">
      <h5>Listing Admins</h5>
    </div>
    <div class="divider"></div>

    <table class="hoverable centered responsive-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Sign in count</th>
        <th>Last sign in at</th>
        <th colspan="3">Options</th>
      </tr>
      </thead>

      <tbody>
      <% @admin_admins.each do |admin| %>
        <tr>
          <td><%= admin.id %></td>
          <td><%= admin.email %></td>
          <td><%= admin.sign_in_count %></td>
          <td><%= admin.last_sign_in_at %></td>
          <td><%= link_to 'View', [:admin, admin], class: 'waves-effect waves-light btn green' %></td>
          <td><%= link_to 'Edit', edit_admin_admin_path(admin), class: 'waves-effect waves-light btn orange' %></td>
          <td><%= link_to 'Delete', [:admin, admin], method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <a class="btn-floating btn-large waves-effect waves-light purple darken-3" href="<%= new_admin_admin_path %>"><i class="material-icons">add</i></a>
    <div class="col s12 m10 l10 right">
      <%= paginate @admin_admins %>
    </div>
  </div>
</div>
