<div class="row">
  <div class="col s12 m7">
    <div class="section">
      <h5><%= @admin_admin.email %></h5>
    </div>
    <div class="divider"></div>
    <table class="hoverable responsive-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Email</td>
          <td><%= @admin_admin.email %></td>
        </tr>
        <tr>
          <td>Sign in count</td>
          <td><%= @admin_admin.sign_in_count %></td>
        </tr>
        <tr>
          <td>Current sign in at</td>
          <td><%= @admin_admin.current_sign_in_at %></td>
        </tr>
        <tr>
          <td>Last sign in at</td>
          <td><%= @admin_admin.last_sign_in_at %></td>
        </tr>
        <tr>
          <td>Current sign in ip</td>
          <td><%= @admin_admin.current_sign_in_ip %></td>
        </tr>
        <tr>
          <td>Last sign in ip</td>
          <td><%= @admin_admin.last_sign_in_ip %></td>
        </tr>
        <tr>
          <td>Failed attempts</td>
          <td><%= @admin_admin.failed_attempts %></td>
        </tr>
        <tr>
          <td>Locked at</td>
          <td><%= @admin_admin.locked_at %></td>
        </tr>
        <tr>
          <td>Created at</td>
          <td><%= @admin_admin.created_at %></td>
        </tr>
        <tr>
          <td>Updated at</td>
          <td><%= @admin_admin.updated_at %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to 'Edit', edit_admin_admin_path(@admin_admin) %> |
    <%= link_to 'Back', admin_admins_path %>
  </div>
</div>