<div class="row">
  <div class="col s12 m12 l8">
    <div class="padding-20 z-depth-4">
      <h5>Log in</h5>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= f.email_field :email, autofocus: true, class: 'validate', autocomplete: 'off' %>
            <%= f.label :email %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <%= f.password_field :password, class: 'validate', autocomplete: 'off' %>
            <%= f.label :password %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <button class="btn waves-effect waves-light btn-large amber darken-4" type="submit" name="action">
          Submit
        </button>

      <% end %>

      <%#= render "devise/shared/links" %>
    </div>
  </div>
</div>