<h1>Dashboard</h1>

  <h5>Visits</h5>
  <%= geo_chart Visit.group(:country).count %>

  <h5>Bloopers</h5>
  <%= column_chart Blooper.group_by_day(:created_at).count %>
  <%#= geo_chart({"Polska" => 10, "Spain" => 5, 'USA' => 1}) %>

  <!--card stats start-->
  <div id="card-stats">
    <div class="row">
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-content  green white-text">
            <p class="card-stats-title"><i class="mdi-av-play-circle-outline"></i>Bloopers</p>
            <h4 class="card-stats-number"><%= Blooper.count %></h4>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-content purple white-text">
            <p class="card-stats-title"><i class="mdi-av-movie"></i>Movies</p>
            <h4 class="card-stats-number"><%= Movie.count %></h4>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-content blue-grey white-text">
            <p class="card-stats-title"><i class="mdi-social-group-add"></i> Actors</p>
            <h4 class="card-stats-number"><%= Actor.count %></h4>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-content pink lighten-2 white-text">
            <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> Genres</p>
            <h4 class="card-stats-number"><%= Genre.count %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--card stats end-->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

<!--work collections start-->
<div id="work-collections">
  <div class="row">
    <div class="col s12 m12 l6">
      <ul id="projects-collection" class="collection">
        <li class="collection-item avatar">
          <i class="mdi-file-folder circle light-blue darken-2"></i>
          <span class="collection-header">Projects</span>
          <p>Your Favorites</p>
          <a href="#" class="secondary-content"><i class="mdi-action-grade"></i></a>
        </li>
        <li class="collection-item">
          <div class="row">
            <div class="col s6">
              <p class="collections-title">Web App</p>
              <p class="collections-content">AEC Company</p>
            </div>
            <div class="col s3">
              <span class="task-cat cyan">Development</span>
            </div>
            <div class="col s3">
              <div id="project-line-1"></div>
            </div>
          </div>
        </li>
        <li class="collection-item">
          <div class="row">
            <div class="col s6">
              <p class="collections-title">Mobile App for Social</p>
              <p class="collections-content">iSocial App</p>
            </div>
            <div class="col s3">
              <span class="task-cat grey darken-3">UI/UX</span>
            </div>
            <div class="col s3">
              <div id="project-line-2"></div>
            </div>
          </div>
        </li>
        <li class="collection-item">
          <div class="row">
            <div class="col s6">
              <p class="collections-title">Website</p>
              <p class="collections-content">MediTab</p>
            </div>
            <div class="col s3">
              <span class="task-cat teal">Marketing</span>
            </div>
            <div class="col s3">
              <div id="project-line-3"></div>
            </div>
          </div>
        </li>
        <li class="collection-item">
          <div class="row">
            <div class="col s6">
              <p class="collections-title">AdWord campaign</p>
              <p class="collections-content">True Line</p>
            </div>
            <div class="col s3">
              <span class="task-cat green">SEO</span>
            </div>
            <div class="col s3">
              <div id="project-line-4"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col s12 m12 l6">
      <ul id="issues-collection" class="collection">
        <li class="collection-item avatar">
          <i class="mdi-action-bug-report circle red darken-2"></i>
          <span class="collection-header">Issues</span>
          <p>Assigned to you</p>
          <a href="#" class="secondary-content"><i class="mdi-action-grade"></i></a>
        </li>
        <li class="collection-item">
          <div class="row">
            <div class="col s7">
              <p class="collections-title"><strong>#102</strong> Home Page</p>
              <p class="collections-content">Web Project</p>
            </div>
            <div class="col s2">
              <span class="task-cat pink accent-2">P1</span>
            </div>
            <div class="col s3">
              <div class="progress">
                <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="collection-item">
          <div class="row">
            <div class="col s7">
              <p class="collections-title"><strong>#108</strong> API Fix</p>
              <p class="collections-content">API Project </p>
            </div>
            <div class="col s2">
              <span class="task-cat yellow darken-4">P2</span>
            </div>
            <div class="col s3">
              <div class="progress">
                <div class="determinate" style="width: 40%"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="collection-item">
          <div class="row">
            <div class="col s7">
              <p class="collections-title"><strong>#205</strong> Profile page css</p>
              <p class="collections-content">New Project </p>
            </div>
            <div class="col s2">
              <span class="task-cat light-green darken-3">P3</span>
            </div>
            <div class="col s3">
              <div class="progress">
                <div class="determinate" style="width: 95%"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="collection-item">
          <div class="row">
            <div class="col s7">
              <p class="collections-title"><strong>#188</strong> SAP Changes</p>
              <p class="collections-content">SAP Project</p>
            </div>
            <div class="col s2">
              <span class="task-cat pink accent-2">P1</span>
            </div>
            <div class="col s3">
              <div class="progress">
                <div class="determinate" style="width: 10%"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--work collections end-->