/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require materialize
 *= require nprogress
 *= require_tree ./main/
 *= require_self
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    margin-bottom: 2rem;
}

#logo-text {
    float: right;
}
.padding-20 {
    padding: 2rem;
}

.margin-top-20 {
    margin-top: 2rem;
}

blockquote {
    border-left: 5px solid #ef6c00;
}

.card-panel:hover {
    background-color: #ffa726 !important;
}

li.search:hover{
    background-color: transparent;
}

#search {
    height: 4rem;
}