<div class="col s12 white">
  <a href="<%= actor_path(actor) %>">
    <div class="card-panel grey lighten-5 z-depth-2">
      <div class="valign-wrapper">
        <div class="col s4">
          <% if !actor.image.blank? %>
            <img src="<%= actor.image %>" alt="" class="circle responsive-img">
          <% else %>
            <%= image_tag 'default_profile_picture.png', class: "circle responsive-img" %>
          <% end %>
        </div>
        <div class="col s8">
            <span class="black-text">
                <%= actor.name %>
            </span>
        </div>
      </div>
    </div>
  </a>
</div>