<div class="card-panel z-depth-3 hoverable yellow darken-2">
  <span class="white-text">Bloopers</span>
</div>

<a href="http://4code.pl" target="_blank">
  <div class="z-depth-3 hoverable black">
    <span class="white-text">
      <%= image_tag '4 Code.png', class: 'responsive-img'%>
    </span>
  </div>
</a>