<% cache(blooper, expires_in: 1.hours) do %>
  <div class="card z-depth-5 hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <div class="video-container">
        <iframe src="//www.youtube.com/embed/<%= blooper.video_link %>?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= blooper.movie.name %><i class="material-icons right">more_vert</i></span>
      <div class="row social">
        <div class="col s12 m3">
          <p><%= link_to 'More', blooper %></p>
        </div>
        <div class="col s12 m9">
          <%= render 'shared/social_buttons', link: blooper_url(blooper) %>
        </div>
      </div>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= blooper.name %><i class="material-icons right">close</i></span>
      <p><%= blooper.description %></p>
    </div>
  </div>
<% end %>