<div class="col s12">
  <a href="<%= @blooper.movie.movie_type.name == 'TV' ? tv_path(@blooper.movie) : movie_path(@blooper.movie) %>">
    <div class="card-panel grey lighten-5 z-depth-2">
      <div class="valign-wrapper">
        <div class="col s4">
          <% if !@blooper.movie.image.blank? %>
            <img src="<%= @blooper.movie.image %>" alt="" class="responsive-img">
          <% else %>
            <%= image_tag 'default_profile_picture.png', class: 'responsive-img' %>
          <% end %>
        </div>
        <div class="col s8">
          <span class="black-text">
              <%= @blooper.movie.name %>
          </span>
        </div>
      </div>
    </div>
  </a>
</div>