<% cache(cache_key_for_bloopers, expires_in: 1.hours) do %>
  <div class="row">
    <div class="col s12 m7">
      <%= render @bloopers %>
      <div class="col s12 margin-top-20">
        <%= paginate @bloopers, theme: 'reverse' %>
      </div>
    </div>
    <div class="col s12 offset-m1 m4">
      <%= render 'adv' %>
    </div>
  </div>
<% end %>
