<div class="row">
  <div class="col s12 m8">
    <% cache(@blooper, expires_in: 1.hours) do %>
      <div class="section">
        <h1><%= title @blooper.name %></h1>
      </div>
      <div class="divider"></div>
      <div class="video-container z-depth-2">
        <iframe src="//www.youtube.com/embed/<%= @blooper.video_link %>?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    <% end %>
    <div class="row">
      <div class="col s12 m4">
        <blockquote>
          Comments:
        </blockquote>
      </div>
      <div class="col s12 m8">
        <div class="valign-wrapper height-50">
          <%= render 'shared/social_buttons' %>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render 'shared/comments' %>
    </div>
  </div>
  <div class="col s12 m4">
    <% cache("blooper-movie-#{@blooper.id}", expires_in: 1.hours) do %>
      <div class="row">
        <blockquote>
          Movie or TV:
        </blockquote>
        <%= render 'movie' %>
      </div>
    <% end %>
    <% cache("blooper-genres-#{@blooper.id}", expires_in: 12.hours) do %>
      <% if @blooper.movie.genres.any? %>
        <div class="row">
          <blockquote>
            Genres:
          </blockquote>
          <div class="collection z-depth-2">
            <%=  render partial: 'bloopers/genre', collection: @blooper.movie.genres %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% cache("blooper-actors-#{@blooper.id}", expires_in: 12.hours) do %>
      <% if @blooper.movie.actors.any? %>
        <div class="row">
          <blockquote>
            Actors:
          </blockquote>
          <%= render partial: 'bloopers/actor', collection: @blooper.movie.actors %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


