<%# Non-link tag that stands for skipped pages...
  - available local variables
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li class="disabled">
  <%= content_tag :a, raw(t 'views.pagination.truncate') %>
</li>
