<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if page.current? %>
  <li class="active amber darken-3 z-depth-2">
    <%= content_tag :a, page %>
  </li>
<% else %>
  <li class="waves-effect">
    <%= link_to_unless page.current?, page, reverse_url(page.to_i, num_pages, per_page), opts = {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
  </li>
<% end %>
