<%# Link to the "Previous" page
  - available local variables
    url:           url to the previous page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if current_page.first? %>
  <li class="disabled">
    <%= content_tag :a do %>
      <i class="material-icons">chevron_left</i>
    <% end %>
  </li>
<% else %>
  <li class="waves-effect">
    <%= link_to_unless current_page.first?, raw( '<i class="material-icons">chevron_left</i>'), reverse_url(current_page.to_i - 1, num_pages, per_page), :rel => 'prev', :remote => remote %>
  </li>
<% end %>
