<nav class="amber darken-3">
  <div class="nav-wrapper">
    <%= link_to(image_tag('movie-clapper-board-64-130297.png', alt: "Bloopers", title: "Bloopers") + raw('<span id="logo-text">Bloopers</span>'), admin_path, class: 'brand-logo') %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <% if admin_signed_in? %>
    <ul class="right hide-on-med-and-down">
      <%= render 'shared/admin/menu_links' %>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Options<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <%= render 'shared/admin/menu_links' %>
      <li><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %> </li>
    </ul>
    <% end %>
  </div>
</nav>

<% if admin_signed_in? %>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to 'Profile', admin_admin_path(current_admin) %></li>
    <li><%= link_to 'Admins', admin_admins_path %></li>
    <li><%= link_to 'Stats', admin_visits_path %></li>
    <li class="divider"></li>
    <li><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></li>
  </ul>
<% end %>
<script>
  $(".button-collapse").sideNav();
</script>