<%#= active_link_to 'Dashboard', admin_path, :wrap_tag => :li %>
<%= active_link_to 'Bloopers', admin_bloopers_path, :wrap_tag => :li %>
<%= active_link_to 'Movies', admin_movies_path, :wrap_tag => :li %>
<%= active_link_to 'Actors', admin_actors_path, :wrap_tag => :li %>
<%= active_link_to 'Genres', admin_genres_path, :wrap_tag => :li %>
<%= active_link_to 'Movie Types', admin_movie_types_path, :wrap_tag => :li %>