<!DOCTYPE html>
<html>
<head>
  <title>Admin - Bloopers</title>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render 'shared/admin/header' %>
  <%= render 'shared/alerts' %>

  <div class="container">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
