<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: 'Bloopers' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render 'shared/header' %>
  <%= render 'shared/alerts' %>

  <div class="container">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
